.base-layout-segment-component-4 {
    padding: 70px;
  }
  
  .segment-wrapper {
    max-width: 1200px; /* Limit the width for larger screens */
    margin: 0 auto; /* Center the layout */
  }
  
  .logosTitleWrapper {
    text-align: center;
  }
  
  .logos-container {
    display: flex;
    justify-content: center;
    margin: 0 20px; /* Reduced margin for better responsiveness */
    flex-wrap: wrap; /* Allow logos to wrap on smaller screens */
  }
  
  .company-logo {
    /* width: 100px; */
    /* max-width: 180px; */
    margin: 0 20px;
    height: 60px;
    padding: 5px;
    border-radius: 5px;
  }
  
  .logos {
    padding: 150px 40px;
  }
  
  .highlight-section {
    border: 1px solid black;
    border-radius: 20px;
    height: 400px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    flex-wrap: wrap; /* Allow columns to wrap on smaller screens */
  }
  
  .col {
    padding: 80px;
    width: 50%;
  }
  
  .col-left {
    position: relative;
  }
  
  .gartner-logo {
    width: 180px;
    position: absolute;
    top: 0;
  }
  
  .highlight-text {
    font-weight: 700;
  }
  .image-contener {
    min-height: 60px;
  }
  /* .image-contener h3{
    
  } */
  .image-contener-h{
    font-size:'12px';
  }
  
  /* Responsive Styles */
  @media (max-width: 1024px) {
    .col {
      width: 100%; /* Stack columns on medium screens */
      padding: 40px; /* Reduce padding */
    }
    .base-layout-segment-component-4 {
        padding: unset;
    }
    .col-left-content {
        margin-top: 40px;
        font-size: 38px;
    }
    .segment-wrapper {
        max-width: unset; /* Limit the width for larger screens */
        margin: 0; /* Center the layout */
      }
  }
  
  @media (max-width: 768px) {
    .highlight-section {
      height: auto; /* Remove fixed height for smaller screens */
      padding: 20px; /* Add padding for smaller screens */
      
    }
    .col-left-content {
        margin-top: 40px;
        font-size: 38px;
    }
  
    .company-logo {
      width: 60px; /* Reduce logo size on smaller screens */
    }
  
    .logos-container {
      margin: 0 10px; /* Further reduce margins */
    }
  }
  
  @media (max-width: 480px) {
    .logosTitleWrapper h2 {
      font-size: 20px; /* Adjust title size for small screens */
    }
  }
  